<h1>Link Action</h1>

{{#link-to 'other-route' invokeAction=(action 'testAction') id='linkWithClosureAction'}}
Link to other route
{{/link-to}}

{{#link-to 'other-route' invokeAction='testAction' id='linkWithActionName'}}
Link to other route
{{/link-to}}
